.carousel {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    overflow: clip;
    z-index: 100;
}

.carousel-slide {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

@media (orientation: portrait) {
    .carousel-slide {
        width: 80%;
        height: auto;
    }
}

@media (orientation: landscape) {
    .carousel-slide {
        height: 66%;
        width: auto;
    }
}

.carousel-slide img {
    border-radius: 3%;
    box-shadow: 0px 0px 15px 27px rgba(0, 0, 0, 0.97);
    background-color: rgba(0, 0, 0, 0.97);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.active {
    z-index: 1;
    display: flex;
    position: absolute;
    object-fit: contain; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: expandAndMove 7.2s cubic-bezier(0.12, .1 , 0.5, 0.5) forwards;
}

.disolve {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    animation: fade-out 2s ;
}

@keyframes expandAndMove {
    0% {
        transform: translate(-110%, -125%) scale(0.1);
        opacity: .4;
    }
    20% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: .9 ;
    }
    22% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        /* transform: scale(1.2); */
        transform: translate(-50%, -50%) scale(1.2);

    }
    50% {
        opacity: 0;
        /* transform: scale(1.8); */
        transform: translate(-50%, -50%) scale(1.8);

    } 
    60% {
        opacity: 0;
        /* transform: scale(1.8); */
        transform: translate(-50%, -50%) scale(1.8);

    }
    100% {
        opacity: 0;
        /* transform: scale(1.8); */
        transform: translate(-50%, -50%) scale(1.8);

    } 
} 