.gallery-popup {
    position: fixed; /* Use fixed positioning to cover the entire viewport */
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.gallery-popup-content {
    background: black;
    padding: 20px;
    border-radius: 10px;
    width: 95%;
    height: 95%;
    overflow: auto; /* Allow scrolling within the popup content */
    display: flex;
    flex-direction: column;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto; /* Make the gallery scrollable */
    flex-grow: 1; /* Allow the gallery to grow and take available space */
}

.gallery img {
    width: 100%;
    height: auto;
    cursor: pointer;
    object-fit: contain;
}

.gallery-icon {
    display: block;
    width: auto;
    /* object-fit: contain; */
}

@media (orientation: portrait) {
    .gallery-icon {
        height: 15%;
        width: auto;
    }
}

@media (orientation: landscape) {
    .gallery-icon {
        height: auto;
        width: 15%;
    }
}

.gallery-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.close-gallery {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.gallery::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
.gallery {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}