.collection-header {
	pointer-events: none;
    left: 7%;
    top: 8%;
    position: absolute;
    width: max(170px, 25%);
    height: 55%; /* Adjust as needed */
    perspective: 10000px; /* Adds 3D perspective */
    /* overflow: hidden; */
    z-index: 1015;
}

@media (orientation: portrait) {
	.collection-header {
		width: max(150px, 25%);
	}	
}

@media (orientation: landscape) {
	.collection-header {
		width: max(200px, 25%);
	}	
}

@media (max-height: 450px)
{
	.collection-header {
		height: 65%;
	}
}

.scroll-header {
	pointer-events: auto;
    object-fit: contain;    
    position: absolute;
    top: 0%;
    left: 0%;
    /* transform: translate(-80%, -80%); */
    transform-style: preserve-3d; 
    transition: transform 0.5s ease; 
    /* width: max(25%, 130px); */
    /* height: max(100px, 5%); */
	width: 100%;
	height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-header img {
    width: 100%;
    height: 100%;
	pointer-events: none;
    object-fit: contain;
    background: transparent;
    z-index: 1005;
    opacity: 0.9;
}


.collection-label {
    pointer-events: none;
	height: 20%;
	width: 100%;
    top: 0%;
    left: 0%;
    transform: translate(-10%, 0%);
    z-index: 1010;
}

.collection-label img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: transparent;
    z-index: 1010;
    opacity: 0.7;
}