
@media (orientation: landscape) {
    :root {
    --header-1-3-width: 12%;
    --header-2-width: 20%;
    }
}

@media (orientation: portrait) {
    :root {
    --header-1-3-width: 18%;
    --header-2-width: 30%;
    }
}

.collection-header {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-2 {
    display: block;
    /* pointer-events: none; */
    background: transparent;
    object-fit: contain;
    position: absolute;
    /* bottom: 3%; */
    left: 8%;
    /* transform: translateX(-50%); */
    width: max(150px, var(--header-2-width));
    z-index: 1005;
}

@media (orientation: landscape) {
    .header-2 {
        top: 3%;
        /* left: 50%;
        transform: translateX(-50%); */
    }
}

@media (orientation: portrait) {
    .header-2 {
        top: 10%;
        /* left: 50%;
        transform: translateX(-50%); */
    }
}


.header-2 img {
    height: 100%;
    width: 100%;
    opacity: 0.7;
    object-fit: contain;
    background: transparent;
    z-index: 1005;
}

.header-1 {
    display: block;
    background: transparent;
    object-fit: contain;
    position: absolute;
    top: 1%;
    left: 0%;
    width: var(--header-1-3-width);
    z-index: 1005;
}

.header-1 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background: transparent;
    z-index: 1005;
    transform: fadeIn 2s;
}   

.header-3 {
    display: block;
    background: transparent;
    object-fit: contain;
    position: absolute;
    bottom: 3%;
    left: 0%;
    width: var(--header-1-3-width);
    z-index: 1005;
}   

.header-3 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background: transparent;
    z-index: 1005;
}   

.fadeCollections {
    animation: collectionfade 8s forwards;
}

.header-1:hover,
.header-2:hover,
.header-3:hover {
    animation: highlight-fade 2s;
}

@keyframes collectionfade {
    /* 0% {
        opacity: 0;
        
    } */
    10% {
        opacity: 100;
    }
    85% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }   
}

.fadeOut {

    animation: fadeout 1s forwards;
}

.fadeIn {

    animation: fadein 1s forwards;
}

@keyframes fadeout {
    /* from {
        opacity: 0.8;
    } */
    to {
        opacity: 0;
    }
}

@keyframes fadein {
    /* from {
        opacity: 0;
    } */
    to {
        opacity: 1;
    }
}


.fadeInHeader {

    animation: fadeinheader 1s forwards;
}

@keyframes fadeout {
    /* from {
        opacity: 0.8;
    } */
    to {
        opacity: 0;
    }
}

@keyframes fadeinheader {
    /* from {
        opacity: 0;
    } */
    to {
        opacity: 0.4;
    }
}

.button-fade {
    animation: buttonfade 5s forwards;
}

@keyframes buttonfade {
    0% {
        opacity: 0.5;
        
    }
    15% {
        opacity: 0.5;
    }
    85% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }   
}