.change-area {
    position: fixed;
    top: 0;
    right: 0;
    width: 22%;
    height: 22%;
}

.menu-toggle {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1002;
    top: 7px;
    right: 0;
    /* object-fit: contain; */
}

.menu-toggle img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: transparent;
    z-index: 1002;
}
/*.menu-toggle,*/ .menu {
    display: block;
    position: fixed;
    max-width: 100%;
    z-index: 1002;
    top: 0;
    right: 0;
    object-fit: contain;
}

/*.menu-toggle img,*/ .menu img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: transparent;
    z-index: 1002;
}

@media (orientation: portrait) {
    /*.menu-toggle, */.menu{

        width: max(300px, 50%);
        height: auto;
    }
    .menu-toggle{

        width: max(126px, 21%);
        height: auto;
    }
}

@media (orientation: landscape) {
    /*.menu-toggle,*/ .menu{
        height: min(500px, 75%);
        width: auto;
    }
    .menu-toggle{
        height: min(206.6px, 31%);
        width: auto;
    }
}

@media (orientation: portrait) {
    .collection-header{
		height: max(80px, 7%);
    }
}

@media (orientation: landscape) {
    .collection-header{
        height: max(100px, 20%);
        width: auto;
    }
}



.menu-overlay{
    display: flex;
    flex-direction: column;
    /* align-items: space-between; */
    position: absolute;
    bottom: 6%;
	top: 41%;
    left: -3%;
    width: 65%;
    /* height:e 100%; */
	object-fit: contain;
} 


.menu-item {

    /* align-items: center;
    justify-content: center; */
    width: 115%;
	height: 18%;
    /* height: 120%; */
    margin-top: -0.65%;
    /* margin-bottom: -40%; */
    /* margin: 0; */
    padding: 0;
    /* background: rgba(0, 0, 0, 0.9); */
    /* border-radius: 10px; */
    /* padding: 10px; */
    border: none;
    z-index: 1003;
    position: relative;
}

.menu-item img {
    width: 110%;
    height: 100%;
    object-fit: contain;
    background: transparent;
    z-index: 1003;
}


.hidden {
    display: none !important;
}
