
.menu-area {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50%;
    height: 100vh;
    max-height: 100%;
    top: 0;
    right: 0;
    z-index: 1001;
    justify-content: flex-start;
}

@media (orientation: portrait) {
    .menu-area {
        width: 60%;
    }
}

@media (orientation: landscape) {
    .menu-area {
        width: 40%;
    }
}
.menu-toggle {
    /* display: flex; */
    justify-content: flex-end;
    /* position: absolute; */
    width: 30%;
    /* right: 0; */
    align-self: flex-end;
    padding-right: 3%;
    padding-top: 5%;
}

.menu-toggle img {
    /* display: flex; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1010;
    /* flex-grow: 1; */
}

.menu {
    display: none;
    flex-direction: column;
    opacity: 0.5;
    background: url('/menu/menu-box.png');
    background-size: cover;
    /* position: absolute;
    width: 200%;
    height: 150%;
    bottom: -150%;
    left: -165%;
    object-fit: contain; */
    /* position: absolute; */
    /* left: 0;
    width: 70%; */
    width: 75%;
    object-fit: contain;
}

.menu img {
    opacity: 0.8;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1002;
}
/* 
@media (orientation: portrait) {
    .menu{

        width: max(300px, 50%);
        height: auto;
    }
    .menu-toggle{

        width: max(126px, 21%);
        height: auto;
    }
}

@media (orientation: landscape) {
         .menu{
        height: min(500px, 75%);
        width: auto;
    }
    .menu-toggle{
        height: min(200px, 25%);
        width: auto;
    }
} */

.menu-overlay{
    display: flex;
    flex-direction: column;
    /* align-items: space-between; */
    /* position: absolute; */
    height: 100%;
    /* max-height: 100%; */
    /* left: 0;
    top: 0; */
    width: 100%;
    /* height:e 100%; */
	object-fit: contain;
    justify-content: space-evenly;
} 


.menu-item {
    width: 100%;
    height: 16%;
	/* height: 16%; */
    object-fit: contain;
    margin-top: 2%;
    /* margin-bottom: -1%; */
    padding: 0;
    z-index: 1003;
    position: relative;
}

.menu-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1003;
}


.hidden {
    display: none !important;
}
