
.menu-area {
    display: flex;
    pointer-events: none;
    flex-direction: column;
    position: fixed;
    width: 50%;
    /* height: 40%; */
    max-height: 100%;
    max-height: 100%;
    top: 0;
    right: 3%;
    z-index: 1001;
    object-fit: contain;
    justify-content: flex-start;
}

@media (orientation: portrait) {
    .menu-area {
        width: max(55%, 300px);
    }
}

@media (orientation: landscape) {
    .menu-area {
        width: max(45%, 355px);
    }
}
.menu-toggle {
    /* display: flex; */
    justify-content: flex-end;
    pointer-events: auto;

    /* position: absolute; */
    width: 28%;
    /* right: 0; */
    align-self: flex-end;
    padding-right: 3%;
    padding-top: 5%;
}

.menu-toggle img {
    /* display: flex; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1010;
    /* flex-grow: 1; */
}

.menu-toggle img:hover {
    animation: highlight-fade 2s;
}
.menu {
    display: flex;
    flex-direction: column;
    opacity: 0;
    background: url('/menu/menu-box.png');
    background-size: cover;
    width: 72%;
    max-height: 90%;
    object-fit: contain;
}

.menu img {
    opacity: 0.8;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1002;
}
/* 
@media (orientation: portrait) {
    .menu{

        width: max(300px, 50%);
        height: auto;
    }
    .menu-toggle{

        width: max(126px, 21%);
        height: auto;
    }
}

@media (orientation: landscape) {
         .menu{
        height: min(500px, 75%);
        width: auto;
    }
    .menu-toggle{
        height: min(200px, 25%);
        width: auto;
    }
} */

.menu-overlay{
    display: flex;
    pointer-events: auto;

    flex-direction: column;
    height: 100%;
    width: 100%;
	object-fit: contain;
    justify-content: space-evenly;
} 

.menu-item {
    pointer-events: auto;

    margin-bottom: -3.5%;
    width: 100%;
    /* max-height: 10%; */
    /* object-fit: contain; */
    margin-top: 2%;
    padding: 0;
    z-index: 1010;
    /* position: relative; */
}

.menu-item:last-of-type {
    pointer-events: auto;
    margin-bottom: 0;
    width: 100%;
    /* max-height: 10%; */
    /* object-fit: contain; */
    margin-top: 2%;
    padding: 0;
    z-index: 1010;
    /* position: relative; */
}
.menu-item img:hover {
    animation: highlight-fade 2s;
}



.menu-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1003;
}


.hidden {
    display: none !important;
}
