
.overlay-buttons button:hover {
    animation: highlight-fade 2s;
}


.close-button-fullscreen {
    /* opacity: 1; */
    display: flex;
	position: absolute;
	top: 1%;
	right: 1%;
    z-index: 1050 !important;
    /* animation: fadein 5s forwards; */
    /* transform: scale(1.4); */
    width: 3rem;
    height: 3rem;
    background: none;
}

.close-button-fullscreen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1050;
}

.overlay-buttons{
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	bottom: 0;
	/* width: 2rem;
	height: 4rem; */
	background: none;
	align-items: space-evenly; 
    justify-content: space-evenly;
	background-color: rgba(0, 0, 0, 1);
	border-radius: 10px;
	z-index: 1050;
}

@media (min-height: 1181px) {
	.overlay-buttons {
		width: 7%;
		height: 17%;
	}
	
}

@media (max-height: 1180px) {
	.overlay-buttons {
		width: 6%;
		height: 12%;
	}
	
}
.close-button {
	justify-self: center;
	align-self: center;
    opacity: 1;
    display: flex;
    z-index: 1050 !important;
    /* animation: fadein 5s forwards; */
    transform: scale(1.4);
	/* padding: 5%; */
	border-radius: 50%;
	background: none;
	border: 0px;
}

.fullscreen-button {
	justify-self: center;
	align-self: center;
    opacity: 1;
    display: flex;
	/* width: 80%; */
    z-index: 1050 !important;
    transform: scale(1.4);
    /* animation: fadein 5s forwards; */
	/* padding: 5%; */
	border-radius: 50%;
	background: none;
	border: 0px;
}
.overlay-buttons img {
    opacity: 1; 
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1050;
}

.overlay-buttons-fullscreen img {
    opacity: 0.8;
    width: 100%; 
    height: 100%;
    object-fit: contain;
}

.overlay .text-boxes {
    width: 100%;
    text-align: center;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    touch-action: auto;
}

.caption{
    display: block;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    font-size: 1rem;
    position: absolute;
    bottom: -1.2rem;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    color: rgb(221, 217, 217);
    padding: 5px;
    text-wrap: nowrap;
    animation: fadein 10s forwards;
    height: 2rem;
	z-index: 1050;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
    color: white;
    border-radius: 10px;
    z-index: 1000;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 10s ease, backdrop-filter 10s ease;
    -webkit-transition: -webkit-backdrop-filter 10s ease, background-color 10s ease;
}

.blur {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
	z-index: 1000;
}

.overlay-content {
    display: flex;
    align-items: center;
    justify-items: center;
    /* justify-content: center;
    align-items: center; */

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    box-shadow: 0px 0px 15px 27px rgba(0, 0, 0, 0.5); /* Optional shadow for better visibility */
    border-radius: 10px; /* Optional rounded corners */
    opacity: 1;
    overflow: visible;

}

.overlay-img{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 15px 27px rgba(0, 0, 0, 0.97);
    background-color: rgba(0, 0, 0, 0.97);
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
	z-index: 1005;
}
