/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #ffafbd, #ffc3a0, #ffcbf2, #e0c3fc, #a3e4db);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.carousel-container {
    position: relative;
    max-height: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    /* height: 500px; Set a fixed height for the container */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.carousel-slide {
    max-width: 90%;
    box-sizing: border-box;
    display: flex;
    align-items: center; /* Center images vertically in slide */
    justify-content: center; /* Center images horizontally in slide */
}

.carousel-slide img {
    max-width: 100%;
    max-height: 100%
    height: auto;
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none; /* No background */
    border: none; /* No border */
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white; /* Ensure text is visible */
    z-index: 10;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-control:hover {
    opacity: 0.8; /* Slightly fade the buttons on hover */
}

.carousel-control:focus {
    outline: none;
}

@media (max-width: 600px) {
    .carousel-control {
        font-size: 18px;
        padding: 8px;
    }
    .carousel-container {
        height: 300px; /* Adjust height for smaller screens if needed */
    }
}
