/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1; /* Ensure the video is behind other content */
  }

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    height: 100vh; /* Fill the viewport height */
    display: flex;
    /* align-items: center;  */
    /* justify-content: center;  */
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.carousel-slide {
    animation-fill-mode: forwards;
    position: absolute;
    margin: auto;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    display: flex;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    /* transform: translate(-50%, -50%); Center the element */
    /* transition: transform 5s cubic-bezier(0.5, 0, 0.5, 1), opacity 1s ease-in-out; */
    /* transform: scale(0.1); Start with a small scale */
    opacity: 0;
}

.carousel-slide.active {
    top: -50%;
    left: -50%;
    animation: expandAndMove 7.42s cubic-bezier(0.12, .1 , 0.5, 0.5) forwards;
    opacity: 1;
}

.hidden {
    display: none;
}


.carousel-slide img {
    max-width: 90%;
    max-height: 100%;
    /* position: absolute; */
    object-fit: cover; /* Ensure the image fits within the container without distortion */
}

.carousel-slide.disolve {
    /* opacity: 0; */
    /* transform: translate(100%, 100%); */
    transform: scale(1) translate(50%, 50%); 
   
    animation: fade-out 1.5s forwards;
}

.paused {
    animation-play-state: paused !important;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    margin: auto auto;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}

.overlay img{
    max-height: 50%;
    max-width: 90%;
    margin: 20px;
}
/* 
#closeOverlay{
    background: none;
    border: 20px;
    color: white;
    font-size: 30px;
    box-shadow: 4px;
    text-align: center;
} */

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

@keyframes expandAndMove {
    0% {
        transform: scale(0.1) translate(0%, 20%); /* Start small and at the initial position */
        opacity: .01;
    }
    10% {
        transform: scale(0.15) translate(70%, 40%); /* Start small and at the initial position */
        opacity: .05;
    }
    20% {
        opacity: .2;
        transform: scale(0.25) translate(80%, 40%); 
    }
    32% {
        transform: scale(0.4) translate(85%, 36%); /* End at full size and final position */
        opacity: .95;
    }
    60% {
        transform: scale(1) translate(50%, 50%); /* End at full size and final position */
        opacity: 1;
    }
    100% {
        transform: scale(1) translate(50%, 50%); /* End at full size and final position */
        opacity: 1;
    }
}

/* @keyframes expandAndMove {
    0% {
        transform: scale(0.1) translate(90%, 0%); 
        opacity: 10;
    } */
    /* 10% {
        transform: scale(0.15) translate(70%, 40%);
        opacity: .2;
    } */
    /*1% {
        opacity: 10;
        transform: scale(0.25) translate(80%, 40%); 
    }
        */
    /* 35% {
        transform: scale(0.2) translate(75%, 40%);
        opacity: 40; 
        }
    84% {
        transform: scale(0.5) translate(63%, 65%);
        opacity: 75; 
    }
    96% {
        transform: scale(.75) translate(70%, 51%); 
        opacity: 100;
    } */
    /* 93% {
        transform: scale(.5) translate(80%, 75%); 
        opacity: 85;
    } 
    100% {
        transform: scale(1) translate(50%, 50%);
        opacity: 1;
    }
}
*/
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    /* 70% {
        opacity: 1;
    }
    80% {
        opacity: .6;
    } */
    100% {
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        /* transform: scale(0.1); */
        opacity: 0;
    }
    100% {
        opacity: 1; /* Fade in */
        /* transform: translate(150%, 50%) scale(10); End in the center */
    }
}